---
layout: default
---

<div class="archive">
  {% for post in site.posts %}
    {% assign currDate = post.date | date: "%Y" %}
    {% if currDate != date %}
      {% unless forloop.first %}</ul>{% endunless %}
      <h2 class="archive-year">{{ currDate }}</h2>
      <ul>
      {% assign date = currDate %}
    {% endif %}
    <div class="archive-item">
      <span class="post-date archive-date">{{ post.date | date: "%b %d, %y" }}</span>
      <a href="{{ post.url }}" class="archive-title">{{ post.title }}</a>
    </div>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
</div>
