.navbar {
  margin-bottom: 2rem;
  border-bottom: 0.125rem solid;
  background-color: none !important;
}

.archive-date {
  float: right;
  margin-left: 1rem;
}

.archive-item {
  margin-bottom: 0.5rem;
}

.wrap {
  min-height: 100%;
}
